@import '../../index.scss';

.nav-link {
  color: $mainGrey;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  transition: $mainTransition;

  &:hover {
    color: $mainGreen;
  }
}
.active {
  color: $mainGreen;
}
